
{%- if site.formspree_endpoint_contact -%}
<form
action="https://formspree.io/f/{{- site.formspree_endpoint_contact -}}"
method="POST"
>
<input type="hidden" name="_subject" value="New Form Submission from {{- site.title -}}" />
<table>
  <tr>
    <td>First Name:&nbsp;&#9;</td>
    <td>
      <input type="text" name="First Name" required>
    </td>
  </tr>
  <tr>
    <td>Last Name:&nbsp;&#9;</td>
    <td>
      <input type="text" name="Last Name" required>
    </td>
  </tr>
  <tr>
    <td>Email:&nbsp;&#9;</td>
    <td>
      <input type="email" name="_replyto" required>
    </td>
  </tr>
  <tr>
    <td>Organization:&nbsp;&#9;</td>
    <td>
      <input type="text" name="Organization">
    </td>
  </tr>
  <tr>
    <td>Message:&nbsp;&#9;</td>
    <td>
      <textarea name="Message" required></textarea>
    </td>
  </tr>
  <tr>
    <td>I agree to the <a href="/privacy/"><strong>Privacy Policy</strong></a>&nbsp;&#9;</td>
    <td>
      <input type="checkbox" id="delete" name="Delete" value="YES" required>
    </td>
  </tr>
</table>
<input type="submit" value="Send">
</form>
{%- endif -%}
