
<div>
  {%- assign nav_text = page.title -%}
  {%- if page.nav-title -%}
    {%- assign nav_text = page.nav-title -%}
  {%- endif -%}

  <!-- Page Directory Nav -->
  <div class="page-directory-nav">
    <h1 class="page-nav-heading">
      <!-- "Portfolio" text (LEVEL 1) -->
      {%- if page.page-types contains "portfolio-related" -%}
        <a href="{{- site.permalink_portfolio -}}">Portfolio</a>

        <!-- "Experience" text (LEVEL 2) -->
        {%- if page.page-types contains "experience-related" -%}
          {{ site.right_arrow }} <a href="{{- site.permalink_experience -}}">Experience</a>

          <!-- Research-specific text (LEVEL 3) -->
          {%- if page.page-types contains "research-related" -%}
            {{ site.right_arrow }} <a href="{{- site.permalink_research -}}">Research</a>
          {%- endif -%}

          <!-- Experience-specific text (LEVEL 3 or 4) -->
          {%- if page.page-types contains "specific-experience" -%}
            {{ site.right_arrow }} <a href="">{{ nav_text | escape }}</a>
          {%- endif -%}

        {%- endif -%}

        <!-- "Software Projects" text (LEVEL 2) -->
        {%- if page.page-types contains "software-related" -%}
          {{ site.right_arrow }} <a href="{{- site.permalink_software_projects -}}">Software Projects</a>

          <!-- Project-specific text (LEVEL 3) -->
          {%- if page.page-types contains "specific-project" -%}
            {{ site.right_arrow }} <a href="">{{ nav_text | escape }}</a>
          {%- endif -%}

        {%- endif -%}

        <!-- "Hardware Projects" text (LEVEL 2) -->
        {%- if page.page-types contains "hardware-related" -%}
          {{ site.right_arrow }} <a href="{{- site.permalink_hardware_projects -}}">Hardware Projects</a>

          <!-- Project-specific text (LEVEL 3) -->
          {%- if page.page-types contains "specific-project" -%}
            {{ site.right_arrow }} <a href="">{{ nav_text | escape }}</a>
          {%- endif -%}

        {%- endif -%}

      {%- endif -%}
    </h1>
  </div>
  <hr class="page-nav-col-hr" />
</div>
