<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign portfolio_item_paths = site.portfolio_items | map: "path" -%}

    

    <div class="page-nav-col-wrapper">
      <div class="page-nav-col page-nav-col-1">
        <h2 class="page-nav-heading">Test Heading 1</h2> <!-- OPTIONAL: Place a [&#169;] in the h2 section -->
        <ul class="page-nav-list">
          {%- for path in portfolio_item_paths -%}
            {%- assign my_item = site.portfolio_items | where: "path", path | first -%}
            {%- if my_item.title -%}
            <li class="p-name">
              <a class="page-link" href="{{ my_item.url | relative_url }}">{{ my_item.title | escape }}</a>
            </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
      
      <div class="page-nav-col page-nav-col-2">
        <h2 class="page-nav-heading">Test Heading 2</h2> <!-- OPTIONAL: Place a [&#169;] in the h2 section -->
        <ul class="page-nav-list">
          {%- if site.page-nav_email == true -%}
          <li class="p-name">
            contact.ryanbran.ch@gmail.com
          </li>
          {%- endif -%}
          <li class="p-name">
            <p>Future Link 1</p>
          </li>
          <li class="p-name">
            <p>Future Link 2</p>
          </li>
        </ul>
      </div>

      <div class="page-nav-col page-nav-col-3">
        <h2 class="page-nav-heading">Test Heading 3</h2> <!-- OPTIONAL: Place a [&#169;] in the h2 section -->
        <ul class="page-nav-list">
          <li class="p-name">
            <p>Future Link 1</p>
          </li>
          <li class="p-name">
            <p>Future Link 2</p>
          </li>
        </ul>
      </div>
    </div>

  </div>

</header>
