
<div>
  {%- assign nav_text = page.title -%}
  {%- if page.nav-title -%}
    {%- assign nav_text = page.nav-title -%}
  {%- endif -%}

  <!-- Page Directory Nav -->
  <div class="page-directory-nav">
    <h1 class="page-nav-heading">
      {%- if page.page-types contains "portfolio-related" -%}
        <!-- "Portfolio" text (LEVEL 1) -->
        <a href="{{- site.permalink_portfolio -}}">Portfolio</a>

        {%- if page.page-types contains "background-information" -%}
          <!-- "Background" text (LEVEL 2) -->
          {{ site.right_arrow }} Background

        {%- elsif page.page-types contains "research-related" -%}
          <!-- "Research" text (LEVEL 2) -->
          {{ site.right_arrow }} <a href="{{- site.permalink_research -}}">Research</a>

        {%- endif -%}

        {%- if page.page-types contains "specific-experience" -%}
          <!-- Experience-specific text (LEVEL 3) -->
          {{ site.right_arrow }} <a href="">{{ nav_text | escape }}</a>
        {%- endif -%}

        {%- if page.page-types contains "software-related" -%}
          <!-- "Software Projects" text (LEVEL 2) -->
          {{ site.right_arrow }} <a href="{{- site.permalink_software_projects -}}">Software Projects</a>

          {%- if page.page-types contains "specific-project" -%}
            <!-- Project-specific text (LEVEL 3) -->
            {{ site.right_arrow }} <a href="">{{ nav_text | escape }}</a>
          {%- endif -%}

        {%- endif -%}

        {%- if page.page-types contains "hardware-related" -%}
          <!-- "Hardware Projects" text (LEVEL 2) -->
          {{ site.right_arrow }} <a href="{{- site.permalink_hardware_projects -}}">Hardware Projects</a>

          {%- if page.page-types contains "specific-project" -%}
            <!-- Project-specific text (LEVEL 3) -->
            {{ site.right_arrow }} <a href="">{{ nav_text | escape }}</a>
          {%- endif -%}

        {%- endif -%}

      {%- endif -%}
    </h1>
  </div>
  <hr class="page-nav-col-hr" />
</div>
