/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

//Edited from Minima
.site-title {
  @include relative-font-size($header-title-font-size-multiplier); // Sets "font-size" to the input multiplied by base-font-size
  font-family: $header-title-font-family;
  font-weight: 400;
  line-height: $base-line-height * $base-font-size * $header-line-height-multiplier;
  letter-spacing: 1px;
  margin-bottom: 0;
  float: left;
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

//Edited from Minima
.site-nav {
  @include relative-font-size($header-nav-font-size-multiplier); // Sets "font-size" to the input multiplied by base-font-size
  font-family: $header-nav-font-family;
  float: right;
  line-height: $base-line-height * $base-font-size * $header-line-height-multiplier;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }


}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

//Edited from Minima
.footer-heading {
  text-align: center;
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  color: $text-color;
}

//Original Content
.footer-heading-empty {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  color: $text-color;
}

//Original Content
.footer-list {
  list-style: none;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col-hr {
  border: 0.5px solid $grey-color-light;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  text-align: center; // Alternatively, can do left for col-1 and right for col-3
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  text-align: center;
  width: -webkit-calc(34% - (#{$spacing-unit} / 2));
  width:         calc(34% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  text-align: center; // Alternatively, can do left for col-1 and right for col-3
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


/**
 * social-media-icons (All new to ryanbranch/jekyanbranch)
 */
.social-media-icons {
  text-align: center;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}


/**
 * icon-link-footer (All new to ryanbranch/jekyanbranch)
 */
.icon-link-footer {
  width: 64px;
  height: 64px;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
}


/**
 * site-page-nav (All new to ryanbranch/jekyanbranch)
 */
 .site-page-nav {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.page-nav-heading {
  @include relative-font-size(1.5);
  margin-bottom: $spacing-unit / 2;
  color: $text-color;
}

.page-nav-heading-empty {
  @include relative-font-size(1.5);
  margin-bottom: $spacing-unit / 2;
  color: $text-color;
}

.page-nav-list {
  list-style: none;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.page-nav-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.page-nav-col-hr {
  border: 0.5px solid $grey-color-light;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.page-nav-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.page-nav-col-1 {
  text-align: center; // Alternatively, can do left for col-1 and right for col-3
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.page-nav-col-2 {
  text-align: center;
  width: -webkit-calc(34% - (#{$spacing-unit} / 2));
  width:         calc(34% - (#{$spacing-unit} / 2));
}

.page-nav-col-3 {
  text-align: center; // Alternatively, can do left for col-1 and right for col-3
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .page-nav-col-1,
  .page-nav-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .page-nav-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .page-nav-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
    color: $text-color;
  }
  
  .page-nav-heading-empty {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
    color: $text-color;
  }

  .page-nav-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-subtitle {
  @include relative-font-size(1.25);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(1.125);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  ul, ol {
    padding-left: 30px;
  }
}


/**
 * Project Content (All new to ryanbranch/jekyanbranch)
 */

.project-readme-include {
  @include relative-font-size(0.8);
  color: $text-color;
}